/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require leaflet/leaflet
 *= require bootstrap/dist/css/bootstrap
 *= require_self
 *= require_tree .
 */


html, body { 
  height: 100%;
  padding:0;
  margin:0;
}

#header {
  height: 80px;
  margin:0;
  padding:0;
}

#footer {
  background-color: rgba(0,0,0, 0.6);
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  margin-left: -75px;
  left: 50%;
  position: absolute;
  bottom: 0px;
}

#footer img {
  max-width: 100%;
}

#content {
  height: 100%;
  width: 100%;
}